.navbar-nav {
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Esto centra horizontalmente el contenedor de la barra de navegación */
}
.navbar-nav .nav-item {
    margin-right: 8px; /* Añade espacio entre los elementos de navegación */
}

.navbar-nav .nav-link {
    font-size: 13px; /* Ajusta el tamaño de fuente de los enlaces de navegación */
}

.navbar-nav .btn {
    font-size: 13px; /* Ajusta el tamaño de fuente de los botones */
    padding: 6px 10px; /* Añade un poco más de espacio alrededor de los botones */
}
.mr-3 {
    margin-right: 100px; /* Puedes ajustar el valor según lo necesites */
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.center{
    display: flex;

    width: 100%;
    height: 100%;
}

.card-es{
    margin: auto;
    border-radius: 25px;
}

.form-es{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conten-1{
    display:flex;
    justify-content: space-between;
    gap: 15px;
    
}

.pf{
    margin-top: -15px;
    margin-bottom: -15px;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fecha{
    font-size: 20px;
}


.error-message {
    font-size: 12px; /* Puedes ajustar el tamaño del texto según tus preferencias */
    color: red; /* Puedes cambiar el color del texto según tus preferencias */
  }





