
.btn-custom-dark {
    background-color: #164e8a; /* Cambia este valor al color deseado */
    border-color: #103863; /* Cambia este valor al color deseado */
}
@media (max-width: 991px) {
    #navbar ul {
        /* Oculta el menú por defecto en dispositivos móviles */
        position: relative;
        top: 62%; /* Ajusta según el diseño */
        
        width: 82%;
        background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sombra ligera */
        z-index: 1000; /* Ajusta el z-index según sea necesario */
    }

    #navbar.active ul {
        display: block; /* Muestra el menú cuando se agrega la clase active */
    }

    .navbar ul li {
        display: block; /* Convertir elementos de lista en bloque para el apilamiento */
        text-align: center; /* Alinear texto al centro */
    }

    .navbar ul li button {
        margin-left: 10px; /* Espacio entre botones */
    }

    .navbar ul li {
        display: inline-block; /* Mostrar elementos en línea */
    }
    
    .navbar ul li a {
        color: #333; /* Color del texto de los enlaces */
        text-decoration: none; /* Sin subrayado */
        padding: 10px 15px; /* Espaciado interno */
        display: block; /* Convertir en bloque para el relleno completo */
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: none; /* Ocultarlo por defecto */
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    /* Mostrar el menú solo en dispositivos móviles */
    @media (max-width: 768px) {
        .mobile-menu {
            display: flex; /* Mostrar el menú en dispositivos móviles */
        }
    }
    
    .hidden {
        opacity: 0;
        visibility: hidden;
    }
    
    .visible {
        opacity: 1;
        visibility: visible;
    }
}
